// Colors
$color-1: #2c3e50;
$color-2: #42b983;
$color-3: #f7f7f7;
$color-4: #ffffff;

// Background colors.
$background-color-body: $color-3;

// Foreground colors.
$foreground-color-body: $color-1;
$foreground-color-link: $color-2;
